
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<h3>My Google Maps Demo</h3>
<div id="map" class="indexgmaps"></div>
<script>
     
    function initMap() {
        var mapcenter = { lat: 56.337486, lng: 10.5554786 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: mapcenter
        
           
        });
        function ChangeDragabbleCursor() {
            map.setOptions({ draggableCursor: 'url(C:\Users\dann0991\Source\Repos\DykkerMania-1.0\DykkerMania\Content\GFX\arrow-pointer.svg) 16 16, default' });
        }
     }  
    
</script>
