
@{
    ViewBag.Title = "Opretpunkt";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Opret punkt</h2>
<div class="col-lg-3 pull-right">
    <div id="map" class="opretgmaps"></div>
</div>

<script type="text/javascript">
    
    var map;
    var markersArray = [];

    function initMap() {
        var mapcenter = new google.maps.LatLng(56.337486, 10.5554786);
        var myOptions = {
            zoom: 6,
            center: mapcenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);

        // add a click event handler to the map object
        google.maps.event.addListener(map, "click", function (event) {
            // place a marker
            placeMarker(event.latLng);

            // display the lat/lng in your form's lat/lng fields
            document.getElementById("latFld").value = event.latLng.lat();
            document.getElementById("lngFld").value = event.latLng.lng();
        });
    }
    function placeMarker(location) {
        // first remove all markers if there are any
        deleteOverlays();

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // add marker in markers array
        markersArray.push(marker);

        //map.setCenter(location);
    }

    // Deletes all markers in the array by removing references to them
    function deleteOverlays() {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
    }

</script>