<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/LayoutMain.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


</head>
<body>

    <header id="header">
        <section id="nav">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            <form>
                <input type="email" placeholder="E-Mail"/>
                <input type="password" placeholder="Password"/>
            </form>
        </section>
    </header>
    <div>
        @RenderBody()
    </div>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
